body {  
       
    background-image:url('bg-pattern.png');
    background-repeat: repeat;
	background-color:#D4D4FF;
    background-position:center;       
    height:685px;
}

#board{
	display:block;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	top:200px; 
	width:470px; 
	height:300px; 
	overflow:hidden;
	border:3px solid black;
}

#score{
	position:absolute; 
	left:400px; 
	top:0px; 
	height:25px; 
	z-index:5; 
	color:#2B0000; 
	font-weight:bold;
}

#bird{
	z-index:5;
	position: absolute;
}

#pipe{
	left:205px; 
	top:75px; 
	z-index:100;
}

#sky{
	top:-20px; 
	height:320px; 
	background-image:url('bg2.png'); 
}

.background{
	position: absolute; 
	left: 0px; 
	width: 16000px; 
	background-repeat: repeat-x;
}

.absoluteElement{
	position: absolute;
}

h1{
	font-size:36px;
	text-align:center;
	font-family:Comic Sans MS;
	color:#600;
	padding-top:50px;
}
h1:hover{
	color:#C00;
	cursor:pointer;
}